.app-content,
.app-content > .main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.app-content {
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .app-content {
    padding: 20px 70px
  }
}


.header-search {
  margin: 0 0 15px 0;
}
