.button {
  position: relative;
  padding: 10px 20px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #be3232;
  cursor: pointer;
  z-index: 1;
  font-weight: bold
}

.button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.button:hover {
  color: #be3232
}

.button:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}
